/* Estilos para o container do mapa */
.map-container {
  height: 500px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos para o pop-up do marcador */
.leaflet-popup-content-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.leaflet-popup-content {
  color: #333333;
  font-size: 14px;
}

.leaflet-popup-tip-container {
  display: none;
}

