/* Estilos para a área de login */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .login-logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .login-error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Estilos para o botão de entrada */
  .login-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para os campos de texto */
  .login-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
  }
  
  /* Estilos para o texto abaixo dos campos de entrada */
  .login-text {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  