@import '../node_modules/leaflet/dist/leaflet.css';

body {
  background-color: #1c1c1c;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  background-color: #1c1c1c;
  color: white;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
